{% if page.file.name.startswith("20") %}
<script src="https://giscus.app/client.js"
        data-repo="tonyfast/tonyfast"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyOTg2OTcxNjg="
        data-category-id="DIC_kwDOEc3B0M4CTmKy"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}