@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root {
    --md-text-font: "Atkinson Hyperlegible";
    --md-code-font: "Roboto Mono";

}

.md-nav__link {
    display: block;
}

.md-nav__link > * {
    display: inline;
}

.md-footer__title pre, .md-header__title pre {
    display: inline;
}